h2 {
  color: black;
  padding-left: 20px;
  margin-bottom: 5px;
}

.main {
  background-color: grey;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
}

form {
  margin-left: 20px;
  padding-bottom: 20px;
}

/* .ui-content-items {
  background-color: lightgreen;
} */

#input-task {
  border: none;
  border-radius: 30px;
}

.btn {
  background-color: gold;
  border: none;
  border-radius: 30px;
}

.tasks-list {
  background-color: lightcoral;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* .gradient {
  background: linear-gradient(45deg, #8602FF 50%, #DB00FF 100%);
} */

.taskswithresets {
  display: flex;
  /* justify-content: space; */
}

.tasks {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
}

.resets {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* form,
.tasks,
.resets {
  padding: 20px;
} */
